@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Roboto", sans-serif;
}
.Typewriter {
  display: inline-block;
}

/* .codeWrapperContainer {
  perspective: 2000px;
}
.codeWrapper:hover {
  transform: rotateY(-25deg) rotateX(60deg);
  transition: transform 1s;
} */
